html {
  background-color: #004ce4;
}

body {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  line-height: 1.4;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

a {
  font-size: 30px;
  color: #ffffff;
  text-decoration-line: none;
}

a:hover,
a:active,
a:focus {
  font-weight: 700;
}

img {
  position: absolute;
  top: 365px;
  right: 51px;
  height: 75px;
  -webkit-user-drag: none;
}

.card {
  border-radius: 30px;
  background: #004ce4;
  padding: 40px 50px 50px 50px;
  width: 700px;
  height: 400px;
  box-shadow: 0px 0px 200px #0000008a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content {
  font-size: 35px;
  font-weight: 300;
}

#contacts {
  position: absolute;
  bottom: 50px;
}

@media only screen and (max-device-width: 800px) {
  .card {
    width: 600px;
    height: 300px;
  }

  img {
    top: 265px;
  }

  h1 {
    font-size: 40px;
  }

  a {
    font-size: 25px;
  }

  #content {
    font-size: 25px;
  }
}

@media only screen and (max-device-width: 700px) {
  .card {
    width: 400px;
    height: 300px;
  }
}

@media only screen and (max-device-width: 500px) {
  .card {
    width: 300px;
    height: 350px;
  }

  img {
    top: 315px;
  }
}

@media only screen and (max-device-width: 400px) {
  .card {
    width: 200px;
    height: 250px;
  }

  img {
    top: 245px;
    height: 45px;
  }

  h1 {
    font-size: 27px;
  }

  a {
    font-size: 20px;
  }

  #content {
    font-size: 20px;
  }
}
