html{
  background-color: #121317;
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: #fefefe;
  line-height: 1.4;
}

h1 {
  font-size: 41px;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

div {
  font-size: 20px;
  font-weight: 300;
}

a {
  color: #fefefe;
  text-decoration-line: none;
}

a:hover, a:active, a:focus {
  font-weight: 700;
}

img {
  position: absolute;
  top: 365px;
  right: 50px;
  height: 80px;
  -webkit-user-drag: none;
}

#card {
  border-radius: 30px;
  background: #121317;
  padding: 40px 50px 50px 50px;
  width: 700px;
  height: 400px;
  box-shadow: 0px 0px 80px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact {
  position: absolute;
  bottom: 50px;
}

@media only screen
and (max-device-width : 800px) {
  #card {
    width: 250px;
  }

  img {
    top: 370px;
  }
}

@media only screen
and (max-device-width : 360px) {
  h1{
    line-height: 1;
  }

  #card {
    width: 200px;
  }

  img {
    display: none;
  }
}